* {
  padding: 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-family: serif;
}

body {
  background-image: url(pencil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin-top: 50px;
}

ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  background-color: white;
  box-shadow: 0 1px 25px black;
  border-radius: 0 0 10px 10px;
  list-style-type: none;
  z-index: 1;
}

ul::after {
  content: "";
  display: table;
  clear: both;
}

li {
  text-align: center;
  float: left;
  width: 25%;
}

.nav:not(#about) {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  color: black;
}

#contact:hover #dropdown {
  display: block;
}

.nav:hover:not(#about) {
  color: white;
  background-color: darkgrey;
}

#dropdown {
  position: absolute;
  box-shadow: -1px -1px 25px black;
  width: 50%;
  display: none;
}

.drop-item {
  font-size: 15pt;
  display: block;
  width: 100%;
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  padding: 10px;
  text-align: left;
}

.drop-item:hover {
  background-color: #ffffff;
}

#whatsapp:hover {
  color: green;
}

#facebook:hover {
  color: #0087FF;
}

#instagram:hover {
  color: hotpink;
}

#twitter:hover {
  color: deepskyblue;
}

#youtube:hover {
  color: red;
}

i {
  padding: 10px;
}

#about {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  color: white;
  background-color: #04AA6D;
  border-radius: 0 0 10px 0;
}

#container {
  margin: 10px;
}

img {
  display: block;
  width: 30%;
  border-radius: 10px;
  margin: 10px;
}

#atanu {
  float: left;
}

#chandan {
  float: right;
}

#utsa {
  float: left;
}

#oggy {
  float: right;
}

#jack {
  float: left;
}

.profile {
  border: 5px solid grey;
  background-color: white;
  margin: 10px 0;
  border-radius: 10px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.profile:hover {
  background-color: #7C1CCAB3;
}

.profile:hover img {
  box-shadow: 2px 2px 25px black;
}

.profile:hover h3 {
  color: white;
}

.info {
  padding: 10px;
  text-align: center;
  color: black;
}

#infoplate {
  margin: 10px;
  background-color: #1C63CAB3;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  text-shadow: 2px 0 0 black;

}