* {
  padding: 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-family: serif;
}

body {
  padding-top: 50px;
  background-image: url(home.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-position: cover cover; */
  height: 100vh;
  width: 100vw;
}

ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  background-color: white;
  box-shadow: 0 1px 25px black;
  border-radius: 0 0 10px 10px;
  list-style-type: none;
  z-index: 1;
}

ul::after {
  content: "";
  display: table;
  clear: both;
}

li {
  text-align: center;
  float: left;
  width: 25%;
}

.nav:not(#home) {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  color: black;
}
#about{
  border-radius: 0 0 10px 0;
}
#contact:hover #dropdown {
  display: block;
}

.nav:hover:not(#home) {
  color: white;
  background-color: darkgrey;
}

#dropdown {
  position: absolute;
  box-shadow: -1px -1px 25px black;
  width: 50%;
  display: none;
}

.drop-item {
  font-size: 15pt;
  display: block;
  width: 100%;
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  padding: 10px;
  text-align: left;
}

.drop-item:hover {
  background-color: #ffffff;
}

#whatsapp:hover {
  color: green;
}

#facebook:hover {
  color: #0087FF;
}

#instagram:hover {
  color: hotpink;
}

#twitter:hover {
  color: deepskyblue;
}

#youtube:hover {
  color: red;
}

i {
  padding: 10px;
}

#home {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  color: white;
  background-color: #04AA6D;
  border-radius: 0 0 0 10px;
}

#desc {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  height: 100%;
}

h1 {
  font-family: serif;
  font-size: 30pt;
  margin: 10px;
  border-radius: 10px;
  color: white;
  background-color: green;
}

p {
  position: absolute;
  top: 30%;
  font-family: serif;
  font-size: 20pt;
  background-color: #86CA1C78;
  margin: 10px;

}

h4 {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: yellow;
  color: red;
  margin: 30px 10px;
  border-radius: 10px;
}